# Build folders
/build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
POSApp.exe

# Qt Creator
*.user
*.pro.user
*.qbs.user
*.creator.*

# Misc
*.o
*.obj
*.exe
*.dll
*.log
*.tmp
*.bak
*.user
*.DS_Store 